<div class="card mb-3">
  <div class="row g-0">
    <p></p>
      <div class="col-md-11">
        <h2 class="card-title">Educacion </h2>
      </div>
      <div class="col-md-1">
        <button id="btn-agregar-educacion" href="#" class="btn btn-secondary" type="button">
          <i class="fa-solid fa-plus"></i>
        </button>
      </div>
  </div>
  <ul class="item-list">
    <li *ngFor="let educacion of educacionList">
      <div class="row g-0">
        <div class="col-md-3">
          <div class="logo-image-container">
            <img [src]="educacion.img" class="img-fluid rounded-start">
          </div>
        </div>
        <div class="col-md-8">
          <div class="list-info">
            <div>
              <h5 class="card-title">{{educacion.title}}</h5>
              <p>{{educacion.carrer}}</p>
              <p>{{educacion.scholl}}</p>
              <p><time>{{educacion.start}}</time> - <time>{{educacion.end}}</time> </p>
            </div>
          </div>
        </div>
        <div class="col-md-1">
          <div class="data-control">
            <button id="btn-edit-estudio" href="#" class="btn btn-secondary" type="button">
              <i class="far fa-edit"></i>
            </button>
            <button id="btn-quitar-estudio" href="#" class="btn btn-secondary" type="button">
              <i class="fa-solid fa-xmark"></i>
            </button>
          </div>
        </div>
      </div>
    </li>
  </ul>
</div>