<div class="card mb-3">
    <div class="row g-0">
        <p></p>
        <div class="col-md-11">
            <h2 class="card-title">Educacion </h2>
        </div>
        <div class="col-md-1">
            <button id="btn-agregar-educacion" href="#" class="btn btn-secondary" type="button">
                <i class="fa-solid fa-plus"></i>
            </button>
        </div>
    </div>
    <div class="row g-0">
        <div class="col-md-3">
            <img src="../assets/argentinaprograma2.png" class="img-fluid rounded-start">
        </div>
        <div class="col-md-7">
            <div class="card-body">
                <h5 class="card-title">Full Stack Developer Jr</h5>
                <p class="card-text">2021-2022
                Argentina Programa - #YoProgramo</p>
            </div>
        </div>
        <div class="col-md-2">
            <button id="btn-edit-estudio" href="#" class="btn btn-secondary" type="button">
                <i class="far fa-edit"></i>
            </button>
            <button id="btn-quitar-estudio" href="#" class="btn btn-secondary" type="button">
                <i class="fa-solid fa-xmark"></i>
            </button>
        </div>
    </div>
    <div class="row g-0">
      <div class="col-md-3">
        <img src="../assets/argentinaprograma2.png" class="img-fluid rounded-start">
      </div>
      <div class="col-md-7">
        <div class="card-body">
          <h5 class="card-title">Primera etapa del plan Argentina Programa</h5>
          <p class="card-text">2021
            Argentina Programa - #SeProgramar</p>
        </div>
      </div>
      <div class="col-md-2">
        <button id="btn-edit-estudio" href="#" class="btn btn-secondary" type="button">
            <i class="far fa-edit"></i>
        </button>
        <button id="btn-quitar-estudio" href="#" class="btn btn-secondary" type="button">
            <i class="fa-solid fa-xmark"></i>
        </button>
      </div>
    </div>
    <div class="row g-0">
      <div class="col-md-3">
        <img src="../assets/padre-monti.png" class="img-fluid rounded-start padre-monti">
      </div>
      <div class="col-md-7">
        <div class="card-body">
          <h5 class="card-title">Educacion Secundaria</h5>
          <p class="card-text">2007-2011 Educacion Polimodal, Modalidad Economia y Gestion de las Organizaciones.</p>
          <p>Escuela Part. Inc. Nro 3028 Padre Luis María Monti. Santa Fe, La Capital.</p>
        </div>
      </div>
      <div class="col-md-2">
        <button id="btn-edit-estudio" href="#" class="btn btn-secondary" type="button">
            <i class="far fa-edit"></i>
        </button>
        <button id="btn-quitar-estudio" href="#" class="btn btn-secondary" type="button">
            <i class="fa-solid fa-xmark"></i>
        </button>
      </div>
    </div>
  </div>