<div class="container" *ngIf="educaciones">
    <div class="row">
        <form (ngSubmit)="onUpdate()" novalidate #f="ngForm" >
            <div class="form-group">
                <label for="nombreEdu">Estudio</label>
                <input type="text" class="form-control" id="nombreEdu" name="nombreEdu" [(ngModel)]="educaciones.nombreEdu" required>
            </div>
            <div class="form-group">
                <label for="inicioEdu">Inicio del estudio</label>
                <input type="text" class="form-control" id="inicioEdu" name="inicioEdu" [(ngModel)]="educaciones.inicioEdu" required>
            </div>
            <div class="form-group">
                <label for="finEdu">Fin del estudio</label>
                <input type="text" class="form-control" id="finEdu" name="finEdu" [(ngModel)]="educaciones.finEdu">
            </div>
            <div class="form-group">
                <label for="imgEdu">Link acortado de imagen </label>
                <input type="text" class="form-control" id="imgEdu" name="imgEdu" [(ngModel)]="educaciones.imgEdu">
            </div>
            <button type="editar" class="btn btn-success">Editar Educacion</button>
        </form>
    </div>
</div>