<div class="card mb-3">
    <div class="row g-0">
        <div class="col-md-11">
          <h2 class="card-title">Educacion </h2>
        </div>
        <div class="col-md-1">
          <div class="btn-group dropstart">
            <button  id="btn-nuevo-estudio" *ngIf="isLogged" class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false" data-bs-auto-close="outside">
              <i class="fa-solid fa-plus"></i>
            </button>
            <form (ngSubmit)="onCreate()" novalidate #f="ngForm" class="dropdown-menu p-4">
              <div class="mb-3">
                <label for="nombreEdu" class="form-label">Estudio</label>
                <input type="text" class="form-control" id="nombreEdu" name="nombreEdu" [(ngModel)]="nombreEdu" required>
              </div>
              <div class="mb-3">
                <label for="inicioEdu" class="form-label">Inicio del estudio</label>
                <input type="text" class="form-control" id="inicioEdu" name="inicioEdu" [(ngModel)]="inicioEdu" required>
              </div>
              <div class="mb-3">
                <label for="finEdu" class="form-label">Fin del estudio</label>
                <input type="text" class="form-control" id="finEdu" name="finEdu" [(ngModel)]="finEdu">
              </div>
              <button type="agregar" class="btn btn-success">Agregar Educacion</button>
            </form>
          </div>
        </div>
    </div>
    <ul class="item-list">
      <li *ngFor="let Educacion of educ">
        <div class="row g-0">
          <div class="col-md-3">
            <div class="logo-image-container">
              <img src="{{Educacion.imgEdu}}" class="img-fluid rounded-start">
            </div>
          </div>
          <div class="col-md-8">
            <div class="list-info">
              <div>
                <h5 class="card-title"></h5>
                <h2>{{Educacion.nombreEdu}}</h2>
                <p></p>
                <p><time>{{Educacion.inicioEdu}}</time> - <time>{{Educacion.finEdu}}</time> </p>
              </div>
            </div>
          </div>
          <div class="col-md-1">
            <button  id="btn-edit-estudio" *ngIf="isLogged" routerLink="/editedu/{{Educacion.id}}" class="btn btn-secondary" type="button">
              <i class="far fa-edit"></i>
            </button>
            <button  id="btn-edit-estudio" *ngIf="isLogged" (click)="delete(Educacion.id)" class="btn btn-secondary" type="button">
              <i class="fa-solid fa-xmark"></i>
            </button>
          </div>
        </div>
      </li>
    </ul>
  </div>