<div class="card mb-3">
    <div class="row g-0">
        <div class="col-md-11">
            <h2 class="card-title">Hard & Soft Skills</h2>
        </div>
        <div class="col-md-1">
            <div class="btn-group dropstart">
              <button  id="btn-nueva-habilidad" *ngIf="isLogged" class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false" data-bs-auto-close="outside">
                <i class="fa-solid fa-plus"></i>
              </button>
              <form (ngSubmit)="onCreate()" novalidate #f="ngForm" class="dropdown-menu p-4">
                <div class="mb-3">
                  <label for="nombreHab" class="form-label">Habilidad</label>
                  <input type="text" class="form-control" id="nombreHab" name="nombreHab" [(ngModel)]="nombreHab" required>
                </div>
                <div class="mb-3">
                  <label for="porcentajeHab" class="form-label">Porcentaje</label>
                  <input type="text" class="form-control" id="porcentajeHab" name="porcentajeHab" [(ngModel)]="porcentajeHab" required>
                </div>
                <button type="agregar" class="btn btn-success">Agregar Habilidad</button>
              </form>
            </div>
        </div>
    </div>
    <ul class="item-list">
        <li *ngFor="let Habilidades of habi">
            <div class="row g-0">
                <div class="col-md-2">
                    <img src="{{Habilidades.imgHab}}" class="img-fluid rounded-start">
                </div>
                <div class="col-md-2" id="nombre-progreso">
                    <h2>{{Habilidades.nombreHab}}</h2>
                </div>
                <div class="col-md-7">
                <div class="progress">
                    <h4>{{Habilidades.porcentajeHab}}%</h4>
                        <div class="progress-bar progress-bar-striped progreso-npi" 
                        role="progressbar" 
                        [style.width.%]="Habilidades.porcentajeHab"
                        aria-valuenow="25" 
                        aria-valuemin="0" 
                        aria-valuemax="100">
                        </div>
                    </div>
                </div>
                <div class="col-md-1" *ngIf="isLogged">
                    <button id="btn-edit-progreso" href="#" class="btn btn-secondary" routerLink="/edithab/{{Habilidades.id}}" type="button">
                        <i class="far fa-edit"></i>
                    </button>
                    <button id="btn-quitar-progreso" href="#" class="btn btn-secondary" (click)="delete(Habilidades.id)" type="button">
                        <i class="fa-solid fa-xmark"></i>
                    </button>
                </div>
            </div>
        </li>
    </ul>
</div>